*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, serif;
    color: #ffffff;
    background: url(../images/bg.jpg) no-repeat center center/cover;
    position: relative;
    height: 100%;
    z-index: -3;
    overflow-x: hidden; 
    
    
  
}

ul{
    list-style-type: none;
    text-decoration: none;
}
