*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, serif;
    color: #ffffff;
    background: url(../images/bg.jpg) no-repeat center center/cover;
    position: relative;
    height: 100%;
    z-index: -3;
    overflow-x: hidden; 
    
    
  
}

ul{
    list-style-type: none;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
  }

  .carousel {
    width:640px;
    height:360px;
  }

.box{
    width: 50px;
    height: 50px;
    border: 16px;
}
